<p class="backBtn" id="backBtn" (click)="backtoArticleList()">&#8592;</p>
<div class="detail">
    <div class="article-card">
        @if(article) {
        <mat-card appearance="outlined">
            <mat-card-header class="article-card-header">
                <mat-card-title class="article-card-header-title" id="title-detail" data-cy="article-card-header-title">{{ article.title }}</mat-card-title>
                <div>
                    <div class="article-card-header-info" id="date-detail" data-cy="article-card-header-date">{{ article.date.toString() | customDatePipe }}</div>
                    <div class="article-card-header-info" id="user-detail" data-cy="article-card-header-user">{{ article.user.username }}</div>
                    <div class="article-card-header-info" id="theme-detail" data-cy="article-card-header-theme">{{ article.theme.name }}</div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <p class="article-card-content" data-cy='article-card-content' id="content-detail">
                {{ article.content }}
                </p>
            </mat-card-content>
        </mat-card>}
    </div>

    <div class="line"></div>

    <div class="all_comment_container">
        <h1>Commentaires</h1>
        <div class="commentaire-list">
            @if((comment$ | async)?.length == 0){
                <h2>Aucun commentaire</h2>
            } @else {
            @for (comment of (comment$ | async); track comment) {
            <mat-card class="comment_card" appearance="outlined">
                <mat-card-header>
                    <mat-card-title id="commentUser-detail">{{ comment.user.username }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p id="commentContent-detail">
                    {{ comment.content }}
                    </p>
                </mat-card-content>    
            </mat-card>}}
        </div>
        <div class="comment_form" >
            <form class="form_comment" [formGroup]="commentForm" (ngSubmit)="submit()">
                <mat-form-field class="comment_input">
                    <mat-label id="commentLabel-detail">Ecrivez votre commentaire</mat-label>
                    <textarea matInput id="commentInput-detail" placeholder="Ex. Cette article est..." formControlName="content"></textarea>
                </mat-form-field>
                <button id="commentBtn-detail" color="primary" [disabled]="commentForm.invalid" type="submit">
                    &#10146;
                </button>
            </form>
        </div>
    </div>
</div>