<p class="backBtn" data-cy="bckBtn_login" (click)="back()">&#8592;</p>
<div class="login" fxLayout="row" fxLayoutAlign="center center">
    <h1>Se connecter</h1>
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field data-cy="emailField_login">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" data-cy="emailInput_login">
        </mat-form-field>
        <mat-form-field data-cy="passwordField_login">
            <mat-label>Mot De Passe</mat-label>
            <input matInput placeholder="Mot De Passe" formControlName="password" data-cy="passwordInput_login">
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" data-cy="submitBtn_login" id="submitBtn_login">Submit</button>
        @if (onError) {<p class="error" id="errorMes_login">An error occurred</p>}
    </form>
</div>