 <div>
  <h1>Profil utilisateur</h1>
  <div class="form">
      @if(userForm){
      <form class="me-form" [formGroup]="userForm" (ngSubmit)="submit()">
          <mat-form-field id="name_me">
            <mat-label>Username</mat-label>
            <input matInput id="username_me" formControlName="username">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <textarea matInput id="email_me" formControlName="email"></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Password</mat-label>
            <textarea matInput id="password_me" formControlName="password"></textarea>
          </mat-form-field>
          <div class="form-btn-container">
            <button mat-raised-button color="primary" [disabled]="userForm.invalid" type="submit">
                Sauvegarder
            </button>
          </div>
      </form>}
  </div>

  <div class="line"></div>

  <div class="list">
    <h1>Abonnements</h1>
      <div class="theme-grid">
        @for (theme of (theme$ | async); track theme) {
          <mat-card class="theme-card" appearance="outlined">
              <mat-card-header>
                  <mat-card-title>{{ theme.name }}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                  <p>
                  {{ theme.content }}
                  </p>
              </mat-card-content>
              <mat-card-actions>
                <div class="btn-container">
                  <button mat-raised-button color="primary" id="sub-btn" class="sub-btn" (click)="subscribeTheme(theme.id)">Se désabonner</button>
                </div>
              </mat-card-actions>
          </mat-card>}
      </div>
  </div>
</div>