  <div id="myNav" [ngClass]="overlay">
    <div class="overlay-content">
      <a routerLink="feed/article" data-cy="article_Mynav" routerLinkActive='activeNavBar'>Articles</a>
      <a routerLink="feed/theme" data-cy="theme_Mynav" routerLinkActive='activeNavBar'>Themes</a>
      <a routerLink="me" class="material-icons" id="me_nav_phone" data-cy="me_Mynav">account_circle</a>
      <a (click)="logout()" class="logout" id="logout_Mynav" data-cy="logout_Mynav">Se déconnecter</a>
    </div>
  </div>
<div class="app">
  <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
    <img class="img_logo" src="/assets/logo_p6.png" alt="logo" />
    <div class="nav-buttons">
    @if (($isLogged() | async)) {
      <div class="fullScreenNav">
        <span routerLink="me" class="material-icons" data-cy="me_nav" >account_circle</span>
        <span routerLink="feed/article" data-cy="article_nav" routerLinkActive='activeNavBar'>Articles</span>
        <span routerLink="feed/theme" data-cy="theme_nav" routerLinkActive='activeNavBar'>Themes</span>
        <span (click)="logout()" id="logout_nav" data-cy="logout_nav" >Se déconnecter</span>
      </div>
      <div class="phNav">
        <button class="dropdown" (click)="openNavBar()">&#x2630;</button>
      </div>
    }
    </div>
  </mat-toolbar>
  <div (click)="closeNavBar()">
    <router-outlet></router-outlet>
  </div>
</div>